*{
    padding: 0;
    margin: 0;
    font-family: 'Josephine Sans', sans-serif;
    box-sizing: border-box;
}
body{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(aboutback.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}

.icon{
    width: 200px;
    float: left;
    height: 70px;

}

.logo{
    color: orange;
    font-size: 35px;
    font-family: Georgia;
    padding-left: 0pt;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;

}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li{
    list-style: none;
    margin-left: 100px;
    margin-top: 27px;
    font-size: 20px;

}

ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bolder;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: white;

}

ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;

}

ul li:hover::after{
    width: 100%;
}

.about{
    width: 100%;
    padding: 78px 0px;

}

.about-text{
    width: 550px;
}
.main2{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: #FFFF;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Times New Roman';
}
.about-text h5{
    color: #FFFF;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
    font-family: 'Times New Roman';

}
span{
    color: #ef820d;
}
.about-text p{
    color: #FFFF;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 20px;
    margin-bottom: 45px;
    margin-left: 0px 10px;
    font-family: 'Times New Roman';
}
























